/* Colors and fonts */
body {
	color: rgb(50, 50, 50);
	background: rgb(240, 240, 240);
	font-family: 'Lora', serif;
	font-size: 16px;
	font-weight: lighter;
}
h1, h2, h3 {
	color: rgb(230,83,83);
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 32px;
	font-weight: 900;
}
h2 {
	font-size: 24px;
	font-weight: 300;
}
a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	color: rgb(73,195,221);
	font-weight: 500;
	transition: color 0.2s ease;
}
a:hover {
	color: rgb(50, 50, 50);
}

/* Custom design with class */
.container{
	width: 800px;
	margin: 40px auto;
}

@media (max-width: 760px){
	.container{
		max-width: 600px;
	}
}

@media (max-width: 600px){
	.container{
		max-width: 400px;
	}
}


.card-white{
	background-color: white;
	padding: 20px 40px;
	border-radius: 4px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
	width: 150px;
	border-width: 1px;
	border-right: solid rgb(230,83,83) 3px;
	border-top: solid rgb(230,83,83) 3px;
	border-left:solid rgb(73,195,221) 3px;
	border-bottom: solid rgb(73,195,221) 3px;
}
.btn-blue{
	background-color: white;
    color: rgb(73,195,221);
    padding: 15px 20px;
    border-radius: 30px;
    border-style: solid;
    border-color: rgb(73,195,221);
    border-width: 2px;
}
.btn-blue:hover{
	background-color: rgb(73,195,221);
	color: white;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
	padding: 20px;
}
.list-inline i{
	font-size: 40px;
	color: rgb(200, 200, 200);
}
.list-inline i:hover{
	color: rgb(73,195,221);
}
.list-inlinescroll{
	padding-left: 0px;
	list-style-type:none;
	white-space:nowrap;
	overflow-x:auto;
	overflow-y: visible;
}
.list-inlinescroll li{
	display: inline;
	padding: 1px;
}
.list-inlinescroll img{
	height: 450px;
}
#introduction p{
	margin-bottom: 40px;
}




